<div class="log">
    <div class="message">
        <div class="nickname">
            LordBH
        </div>
        <div class="text">
            Okay
        </div>
    </div>
    <div class="message">
        <div class="nickname">
            Hoaqin
        </div>
        <div class="text">
            Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !
        </div>
    </div>
        <div class="message">
        <div class="nickname">
            Hoaqin
        </div>
        <div class="text">
            Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !Let try me !
        </div>
    </div>
</div>
<form class="f-ch" action="" method="post">
    <textarea class="p-area" name="message" id="c-msg" cols="30" rows="10"></textarea>
    <div class="d-but-3">Send</div>
</form>
