<div>People are watching : <span class="watc">0</span></div>
<div>Game link : </div>
<input title="game-id" type="text">
<br>
<br>
<div>You : </div>
<div>Opponent : </div>
<div>Quantity to win : </div>
<div>
    <div>Permissions</div>
    <div class="perm">Vertical : <span class="perm-n"></span></div>
    <div class="perm">Horizontal : <span class=""></span></div>
    <div class="perm">Diagonal : <span class=""></span></div>

</div>
<div>Moves : <span class="moves">0</span></div>


<div class="d-but-3 d-but-4">Pass party</div>

<div class="d-but-3 d-but-4">Revenge</div>


