<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <script src="{{ url_for('static', filename='lib/js/jquery-1.12.2.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/socket.io.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='core/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='game/css/klark.css') }}">
</head>
<body>

<div class="view">

    <div class="info">
        {% include 'game/info.html' %}
    </div>

    <div class="game">
        {% include 'game/game.html' %}
    </div>

    <div class="chat">
        {% include 'game/chat.html' %}
    </div>

</div>

<script src="{{ url_for('static', filename="game/js/play.js") }}"></script>
</body>
</html>