body {
    margin: 0;
    padding: 0;

}

/** wrapper **/

.wrapper {
    position: absolute;
    background-color: #232323;
    width: 40%;
    height: 100%;
    /*height: 1550px;*/
}

h1 {
    margin: 30px 0 0 50px;
    color: white;
    font-size: 42px;
}

p {
    margin: 0;
    font-size: 14px;
    color: #787878
}

hr {
    position: absolute;
    margin-top: 6px;
    width: 55%;
    border-color: #787878;
}

.status {
    position: absolute;
    right: 85px;
}

.menu-bar {
    position: absolute;
    top: 320px;
}

.menu-bar > ul > li {
    list-style: none;
    font-size: 36px;
    color: #787878;
    margin-left: 100px;
    margin-bottom: 13px;

}

ul {
    padding: 0;
    margin: 0;
}

.menu-bar > ul > li:hover {
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.author {
    color: #787878;
    position: absolute;
    right: 8%;
    bottom: 3%;
}

.rel {
    position: absolute;
    bottom: 3%;
    left: 4%;
    display: inline-block;
    color: #787878;
    border-bottom: 2px solid #818181;
    font-size: 14px;
    cursor: pointer;
}

.bar {
    cursor: pointer;
}

.bar:hover {
    color: white;
}

.play {
    color: white;
    position: relative;
    top: 100px;
}

.out-a, .out-f {
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    margin-left: 70px;
}

.out-f {
    margin-left: 300px;
}

.in-a, .in-f {
    padding: 10px 15px;
    transition: background-color .2s;
}

.in-a:hover, .in-f:hover {
    background-color: #393939;

}

.arrow-menu {
    position: absolute;
    top: 298px;
    left: 35px;
    color: white;
    font-size: 70px;
}

/** fix wrapper **/

.fixed-wrapper {
    position: fixed;
    left: 40%;
    width: 60%;
    height: 100%;
    background-color: #a5a5a5;
    font-size: 20px;
    font-weight: 800;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    opacity: 0;
    transition: opacity .4s;
}

.show-div {
    opacity: 1;
}

/** VIEW **/

.board {
    opacity: 1;

}

.set-board {

}

.cont-f {

}

.cont-f > form > label {
    color: #262626;
    display: inline-block;
    margin: 25px 0 0 0;
    padding: 0;

}

.cont-f > form > input {
    height: 30px;
    width: 600px;
    font-size: 16px;
    outline-color: invert;
}

/** children **/

textarea {
    height: 200px;
    width: 600px;
    font-size: 15px;
    outline-color: invert;
}

.d-but {
    cursor: pointer;
    width: 150px;
    border: 2px solid #232323;
    padding: 10px 0;
    text-align: center;
    color: white;
    background-color: #232323;
    transition: background-color .2s;
    margin-top: 5px;

    position: relative;
    left: 225px;
}

.d-but:hover {
    background-color: #787878;
}

/** ALERT **/

#alert {
    position: absolute;
    opacity: 0;
    bottom: 4%;
    right: 0;
    padding: 15px 25px;
    background-color: #232323;
    color: white;

}

.s-a {
    animation-name: show-alert;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes show-alert {
    20% {
        opacity: 1;
        right: 3%;
    }
    92% {
        opacity: 1;
        right: 3%;
    }
    to {
        opacity: 0;
        right: 0;
    }
}
.animate-set{
    animation-name: show-settings;
    animation-duration: 1.5s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
}

.no-animate-set{
    animation-name: hide-settings;
    animation-duration: 1.5s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
}

@keyframes show-settings {
    to{
        opacity: 1;
    }
}

@keyframes hide-settings {
    to{
        opacity: 0;
    }
}

.fixed-wrapper{

}

.cont-f{

}
.bor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*flex-flow: row nowrap;*/

}
.dsp-none{
    display: none;
}

.blc{
    background-color: black;
}

.wht{
    background-color: white;
}


.bor>div{
    flex: 5 20%;
    width: 25px;
    height: 125px;

}

/*.bor>div:nth-child(n){*/
    /*background-color: white;*/
/*}*/

/*.bor>div:nth-child(2n){*/
    /*background-color: black;*/
/*}*/