body {
    padding: 0;
    margin: 0;
    background: #262626;
}

.log::-webkit-scrollbar {
    overflow: hidden;
    background-color: #262626;
}

.view {
    display: flex;

    justify-content: center;
}

.info {
    position: absolute;
    color: white;
    font-size: 18px;
    padding: 35px 25px 0 25px;
    left: 0;
    margin-left: 35px;
}

.info > div {
    padding: 15px 0;
}

.game {
    margin-top: 15px;
    display: block;
    top: 0;
    bottom: 0;

    height: auto;
    right: 25%;
    left: 25%;
}

.log {
    position: relative;
    display: block;
    width: 285px;
    height: 490px;
    padding-right: 15px;
    overflow: auto;
    border: 2px solid #595959;
    /*margin-bottom: 10px;*/
    /*border-bottom: 2px solid black;*/
}

.message {
    padding: 10px 0 10px 20px;
    color: white;
    /*border-bottom: 2px solid #484848;*/
}

.nickname {
    margin: 20px 20px 20px 0;
    text-align: right;
    border-bottom: 1px solid #343430;

}

.text {
    /*margin: 10px ;*/
    /*margin-bottom: 15px;*/
    padding-bottom: 15px;
    border-bottom: 2px solid #a4a4a4;
}

.chat {
    position: absolute;
    height: 648px;
    left: 75%;
    margin: 15px;
    /*border: 2px solid black;*/
}

.p-area {
    /*position: relative;*/
    /*bottom: -500px;*/
    width: 98%;
    height: 100px;
    font-size: 14px;
    margin-top: 10px;
}

.d-but-3 {
    background: #161616;
    margin: 1px;
    color: white;
    padding: 8px;
    text-align: center;
    transition: background .5s;
    cursor: pointer;

}

.d-but-4 {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #5e5e5e;
}

.d-but-3:hover {
    background: #393939;
}

.bor > div:hover {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*width: 100px;*/
    /*height: 100px;*/
    border: 2px solid red;
    background: darkblue;
}

.perm {
    margin-left: 40px;
}

.perm-y {
    color: #00840b;
}

.perm-n {
    color: #f1000e;
}