<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klark</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='core/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='core/css/main.css') }}">
    <script src="{{ url_for('static', filename='lib/js/jquery-1.12.2.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/socket.io.min.js') }}"></script>
</head>
<body>

{% include 'core/wrapper.html' %}
{% include 'core/fix-wrapper.html' %}

<script src="{{ url_for('static', filename='core/js/main.js') }}"></script>
</body>
</html>
