<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='core/css/style.css') }}">
    <script src="{{ url_for('static', filename='lib/js/jquery-1.12.2.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/socket.io.min.js') }}"></script>
</head>
<body>

<header><h1>Welcome to Klark</h1></header>

<main>
    <form action="." method="post">
    <input id="nickname" title="Yours nickname" type="text" name="nick" value="" placeholder="Nickname">
    <br>

    <label for="q-to-win">Range of quantity crosses or noughts to win</label>
    <br>
    <input class="slider" id="q-to-win" type="range" min="3" max="7" step="1">
    <input type="text" title="quantity of crosses and noughts">
    <br>

    <label for="g-b-size">Game board size</label>
    <br>
    <input class="slider" id="g-b-size" type="range" min="3" max="7" step="1">
    <input type="text" title="Board size">
    <br>

    <div class="cb-choice">
        <input title="Vertical moves" type="checkbox" name="sel-choice" checked><span>Vertical</span><br>
        <input title="Horizontal moves" type="checkbox" name="sel-choice" checked><span>Horizontal</span><br>
        <input title="Diagonal moves" type="checkbox" name="sel-choice" checked><span>Diagonal</span><br>
    </div>

    <div class="board-color">
        <div class="f-color">
            <label for="red-f">R</label>
            <input type="range" name="red-f" id="red-f" min="0" max="255" step="1">
            <input class="in-color" title="R" type="text"><br>
            <label for="green-f">G</label>
            <input type="range" name="green-f" id="green-f" min="0" max="255" step="1">
            <input class="in-color" title="G" type="text"><br>
            <label for="blue-f">B</label>
            <input type="range" name="blue-f" id="blue-f" min="0" max="255" step="1">
            <input class="in-color" title="B" type="text"><br>
        </div>
        <div class="s-color">
            <label for="red-s">R</label>
            <input type="range" name="red-s" id="red-s" min="0" max="255" step="1">
            <input class="in-color" title="R" type="text"><br>
            <label for="green-s">G</label>
            <input type="range" name="green-s" id="green-s" min="0" max="255" step="1">
            <input class="in-color" title="G" type="text"><br>
            <label for="blue-s">B</label>
            <input type="range" name="blue-s" id="blue-s" min="0" max="255" step="1">
            <input class="in-color" title="B" type="text"><br>
        </div>
    </div>

    <div class="symbol-f">
        <input id="default-sym" type="radio" name="symbol" checked>
        <label for="default-sym"><span class="symbol">◯</span><span class="symbol">╳</span></label>
    </div>

    <input type="submit">
    </form>
</main>

<footer>

</footer>

<script src="{{ url_for('static', filename='core/js/main.js') }}"></script>
</body>
</html>
