<table border="1">
    <tr class="legend">
        <td>Game ID</td>
        <td>Opponent</td>
        <td>Board size</td>
        <td>Quantity to win</td>
        <td>Permissions</td>
        <td>Join</td>
    </tr>
    <tr>
        <td>12345678</td>
        <td>LordBH</td>
        <td>5</td>
        <td>3</td>
        <td>V, H, D</td>
        <td>Play</td>
    </tr>
</table>
<table border="1">
    <tr class="legend">
        <td>#</td>
        <td>Opponent</td>
        <td>Game ID</td>
        <td>Win</td>
        <td>Moves</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>1</td>
        <td>LordBH</td>
        <td>12345678</td>
        <td>True</td>
        <td>46</td>
        <td>2016-02-04</td>
    </tr>
</table>