<div class="fixed-wrapper show-div">
    <div class="board">Board DIV</div>
</div>

<div class="fixed-wrapper">
    <div class="set-board">SETTINGS DIV</div>
</div>

<div class="fixed-wrapper">

    <div class="cont-f">
        <form action="" method="post">
            <label for="title-">Title :</label><br>
            <input id="title-" type="text"><br>
            <label for="msg">Message : </label><br>
            <textarea id="msg"></textarea><br>
            <div class="d-but">Send</div>
        </form>
    </div>

</div>