<div class="fixed-wrapper show-div">
    <div class="board">Board DIV</div>
</div>

<div class="fixed-wrapper">
    <div class="set-board">SETTINGS DIV</div>
</div>

<div class="fixed-wrapper">

    <div class="cont-f">
        <form id="re-call" action="{{ url_for('core.recall') }}" method="post">
            <label for="title-">Title :</label><br>
            <input id="title-" type="text" name="title"><br>
            <label for="msg">Message : </label><br>
            <textarea id="msg" name="message"></textarea><br>
            <div class="d-but" onclick="sendRecall()">Send</div>
        </form>
    </div>

</div>

{% if context['msg'] %}
        <div class="alert">
            {{ context['msg'] }}
        </div>
{% endif %}