<form action="{{ url_for('core.settings') }}" method="post" class="config" id="settings">
    <div>
        <label for="nickname">~ Nickname : </label>
        <input id="nickname" type="text" name="nick" value="" placeholder="">

    </div>

    <div>
        <label for="q-to-win">~ Range of quantity crosses or noughts to win</label>
        <br>
        <input class="slider" id="q-to-win" type="range" min="3" max="13" step="1" name="q" value="3">
        <input type="text" id="sl-q" title="quantity of crosses and noughts">
        <br>
    </div>
    <div>
        <label for="g-b-size">~ Game board size</label>
        <br>
        <input class="slider" id="g-b-size" type="range" min="3" max="12" step="1" name="size" value="3">
        <input type="text" id="sl-g" title="Board size">
        <br>
    </div>


    <div class="cb-choice">
        <label>~ Permissible movement</label><br>
        {% for x, y in [('Vertical', 'v'), ('Horizontal', 'h'),('Diagonal', 'd')] %}
            <input title="{{ x }} moves" type="checkbox" name="ch-{{ y }}"
                   {% if context['rules'].get(y) %}checked{% endif %}><span>{{ x }}</span><br>
        {% endfor %}
    </div>

    <div class="board-color">
        {% for x in ['First', 'Second', 'Noughts' , 'Crosses'] %}
            <br><br>
            <div class="{{ x[0]|lower }}-color">
                <label>~ {{ x }} Cell</label><br>
                {% for y in ['red', 'green', 'blue'] %}
                    <label for="{{ y }}-{{ x[0]|lower }}">{{ y[0]|upper }}</label>
                    <input type="range" name="{{ y }}-{{ x[0]|lower }}" id="{{ y }}-{{ x[0]|lower }}"
                           min="0" max="255" step="1" value="{{ colors[x[0]|lower][y[0]] }}">
                    <input class="in-color" id="{{ y[0] }}-{{ x[0]|lower }}"
                           title="{{ y|upper }}" type="text" maxlength="3"><br>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="symbol-f">
        <label for="noughts-">Noughts</label>
        <input id="noughts-" type="text" name="cell-1" value="O" maxlength="1">
        <label for="crosses-">Crosses</label>
        <input id="crosses-" type="text" name="cell-2" value="X" maxlength="1">
    </div>

    <div id="d-but-2" onclick="saveSettings()">Save my settings</div>
</form>