<div class="wrapper">
    <h1>Welcome to <span><a href=".">KLARK</a></span></h1>
    <div class="status">
        <p>The best way to play noughts and crosses via web</p>
        <hr>
    </div>

    <div class="play">
        <div class="out-a">
            <a href="#">
                <div class="in-a">
                    <div>Play with Anybody</div>
                </div>
            </a>
        </div>


        <div class="out-f">
            <a href="#">
                <div class="in-f">
                    <div>Play with Friends</div>
                </div>
            </a>
        </div>

    </div>

    <div class="menu-bar">
        <ul>
            <li class="bar" id="games" onclick="">Games</li>
            <li class="bar" id="sett">Settings</li>
{#            {% include 'core/settings.html' %}#}
        </ul>
    </div>

    <span class="arrow-menu">↪</span>
    <div class="alert" onclick="showContacts()">If u find some error alert me.</div>
    <div class="author"><a href="https://github.com/LordBH/">Created By LordBH</a></div>
</div>